html{
    font-size: 20px;
}

body{
    margin: 0;
    background-color: #FBE4FF;
    
}

#fixed-div{
    width: 101px;
    height: 101px;
    color: #300C6A4D;
    position: fixed;

    
    left: 1650px;
    top: 600px;
}

.header{
    background-color: #243B93;
    width: 100%;
    height: 65px;
    /*display: inline-block;*/
    box-sizing: border-box;
}


.header-w{
    margin: 0 auto;
    width: 1537px;
}




.img-logo{
    display: inline-block;
    position: relative;
    left: 140px;
    top: 7px;
}

.nav-text{
    display: inline-block;
    position: relative;
    left: 230px;
}

.nav-text ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.header-nav{
    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 2.56px;
    display: inline-block;
    width: 170px;
    text-align: center;
}

.header-nav a{
    text-decoration: none;
    color: #FFF;
}

.header-nav span{
    position: relative;
    top: -12px;
}

.img-planet{
    display: inline-block;
    position: relative;
    left: 266px;
    top: 7px;
}

.language{
    color: #FFF;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    top: -6px;
    left: 275px;
}

.reserve-home{
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    background-color: #BFF0FF;
    color: #202846;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 322px;
    padding-top: 16px;
}





.place{
    margin: 0 auto;
    margin-top: 27px;
    width: 1261px;
    height: 57px;
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.61);
   font-family: 'PT  Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 9px;
}

.card{
    margin: 0 auto;
    margin-top: 40px;
    background: linear-gradient(93deg, #ADCBD4 0%, #00AEE5 100%);
    width: 1261px;
    
    position: relative;
    box-sizing: border-box;
    
}

.card:hover{
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.star-def{
    position: absolute;
    top: 8px;
    left: 1211px;
}

.star-def svg{
    fill: #FFF;
}

.card:hover .star-def svg{
    fill: #FFF500;
}

.card-img{
    display: inline-block;
    margin: 32px 0px 21px 50px;
}

.card-info{
    width: 694px;
   
    float: right;
    margin-right: 45px;
    margin-left: 25px;
}

.card-title{
    color: #353C57;
    font-family: 'PT  Sans', sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;    
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid #FFF;
    width: 694px;
    padding: 8px 0px 10px 0px;

}

.bg-text{
    background-color: #FFF;
    width: 694px;
    height: 199px;
    box-sizing: border-box;
    margin: 20px 0px 0px 0px;
    padding: 12px 60px 0px 16px;

    font-family: 'PT  Sans', sans-serif;
    color: #202846;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-details{
    position: absolute;
    display: inline-block;
    left: 1079px;
    top: 247px;

    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: #243B93;

    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'PT  Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 9px 0px 0px 0px;
    box-sizing: border-box;

}

.card:hover .button-details{
    background-color: #EF075B;

}


.osob-kab{
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    color: #243B93;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 322px;
    padding-top: 16px;
    margin: 40px 0px 40px 0px;
}

.card-Kabinet{
    margin: 0 auto;
   
    
    width: 1261px;
    height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.50) 100%);
    box-sizing: border-box;
}

.part1{
    width: 30%;
    float: left;
}


.avatar{
    padding: 75px 0px 0px 150px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: inline-block;
}

.but-avatar-ch{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: #243B93;
    color: #FFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    margin: 35px 0px 0px 121px;
    
}

.but-set{
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: #243B93;
    color: #FFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    margin: 26px 0px 0px 121px;
    
}


.part2{
    width: 672px;
    float: right;
    
    margin: 0px 60px 0px 150px;
}

.card-osob-info{
    color: #353C57;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 3px solid #FFF;
    width: 672px;
    box-sizing: border-box;
    padding: 19px 0px 19px 0px;
}

.card-osob-info span{
    color: #353C57;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 400;
}


.marg{
    margin: 46px 0px 0px 0px;
}

.card-osob-info-last{
    color: #353C57;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    width: 672px;
    box-sizing: border-box;
    padding: 19px 0px 19px 0px;
}

.card-osob-info-last span{
    color: #353C57;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 400;
}

.but-exit{
    margin: 0 auto;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background: #243B93;
    color: #FFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding-top: 10px;
    margin-top: 20px;

}

.title-cont{
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    color: #243B93;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 322px;
    padding-top: 16px;
    margin: 55px 0px 40px 0px;
    box-sizing: border-box;
}

.info-cont{
    margin: 0 auto; 
    width: 1261px;
    height: 300px;
    
}

.info-cont-1{
    width: 700px;
    
    float: left;
}

.fl-p1{
    float: left;
    width: 350px;
}

.info-cont-tel{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 3px solid #202846;
    width: 230px;
    padding: 0px 0px 1px 0px;
    box-sizing: border-box;
}

.tel{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    
}

.info-cont-adr{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 3px solid #202846;
    width: 350px;
    padding: 0px 0px 1px 0px;
    margin: 25px 0px 0px 0px;
    box-sizing: border-box;
}

.adr{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.fl-p2{
    width: 300px;
    float: left;
    margin: 0px 0px 0px 50px ;
}



.info-cont-em{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 3px solid #202846;
    width: 250px;
    padding: 0px 0px 1px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;

}

.em{
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.info-cont-2{
    float: right;
}

.footer{
    width: 100%;
    height: 65px;
    margin-top: 30px;
    background: #243B93;

    color: #FFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2.56px;
    box-sizing: border-box;
    padding: 23px 0px 0px 322px;

}

.footer span{
    padding-left: 14px;
}
