html{
    font-size: 20px;
}

body{
    margin: 0;
    height: 2000px;
}

.header{
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    line-height: normal;
}

.header-strong{
    color: #3E45E8 ;
}


.header-ukraine{
    color: #E8C23E;
}

.banner{
    height: 850px;
   
    background-image: url("../Img/прапорbg.png"), url("../Img/banner.png");
    background-repeat: no-repeat;
    background-size: 1.2%, 100%; 
    background-position-x: 8%;
    background-position-y: 67%;
    box-sizing: border-box;
    padding: 19rem 0rem 9rem 10rem;
}

.banner-text{
    color: #FFF;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
}

.title1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000;
    line-height: 3.5rem;
    font-size: 2rem;
    padding: 48px 0px 5px 155px;
}

.card-center{
    text-align: center;
    margin-top: 50px; 
}

.card{
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 30px;
    height: 455px;
    background-color: #FFF;
}

.card img{
    width: 100%;
}

.card-name{
    font-family: 'Inika', serif;
    color: #0072DB;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin: 14px 0px 14px 12px ;
}

.card-text{
    color: #F90;
    font-family: 'Inika', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 12px 0px 0px 12px;
}

.cent-marg-card{
    margin: 0px 60px;
}

.shadow-c{
    box-shadow: 0px 10px 35px rgba(27, 199, 252, 0.692);
}

.shadow-r{
    box-shadow: 10px 10px 35px rgba(27, 199, 252, 0.692);
}

.shadow-l{
    box-shadow: -10px 10px 35px rgba(27, 199, 252, 0.692);
}

.title2{
    display: inline-block;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    color: #000;
    line-height: 3.5rem;
    font-size: 2rem;
    padding-top: 55px;
    border-bottom: 7px solid #1400FF;
    width: 600px;
}

.center{
    text-align: center;
}

.map-uk{
    margin-top: 40px;
    margin-bottom: 30px;
}

.button-go{
    border-radius: 50px;
    background: #2A61F0;
    width: 499px;
    height: 81px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inika', serif;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 4.1rem;
}

.button-go a{
    text-decoration: none;
    color: #FFF;
}

.footer{
    height: 240px;
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}

.footer-str-ua{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    line-height: normal;
}

.footer-strong{
    color: #3E45E8 ;
}

.footer-ukraine{
    color: #E8C23E;
}

.footer-info{
    color: #A89D9D;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Marcellus SC', serif;
    font-size: 1.7rem;
    text-align: center;
    padding: 7px 0px;
}

.footer-info a{
    text-decoration: none;
    color: #A89D9D;
}

.footer-icons{
    text-align: center;
    margin-top: 7px;
}

svg{
    padding: 0px 20px;
}

.footer-icons a{
    text-decoration: none;
}
